.text-container {
	padding-left: 40px;
	padding-right: 40px;
}

.home-text {
	margin-top: 16px;
}

.mat-background {
	background-image: url("~src/assets/img/HomeBackground.jpg");
	height: 100px;
	width: 100px;
}
