<div class="text-container">
	<h1 class="mat-headline">Trenutna lokacija</h1>
	<mat-divider></mat-divider>
	<div class="map-body">
		<mat-form-field>
			<mat-label>Linija</mat-label>
			<mat-select (selectionChange)="lineChanged($event)">
				<mat-option *ngFor="let line of lines" [value]="line.id">{{line.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="mapStyle">
			<ng-container *ngIf="selectedLine !== null">
				<agm-polyline [strokeColor]="selectedLine.color" [strokeWeight]="4">
					<agm-polyline-point *ngFor="let point of selectedLine.waypoints;" [latitude]="point.lat" [longitude]="point.lon">
					</agm-polyline-point>
				</agm-polyline>

				<ng-container *ngFor="let vehicle of vehicles">
				<agm-marker *ngIf="vehicle.line.id === selectedLine.id"  [latitude]="vehicle.lat" [longitude]="vehicle.lon" [iconUrl]="'assets/img/bus-icon.png'">
					<agm-info-window [disableAutoPan]="false">

						<div>
							{{vehicle.name}} - Linija {{vehicle.line.name}}
						</div>

					</agm-info-window>
				</agm-marker>
				</ng-container>
			</ng-container>
		</agm-map>
		<div class="container" *ngIf="message.length > 0">
			<span>{{message}}</span>
		</div>
	</div>

</div>
