<div class="text-container">
	<h1 class="mat-headline">Prijava</h1>
	<mat-divider></mat-divider>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="mat-body login-body">
			<mat-form-field>
				<input type="email" matInput placeholder="E-mail" formControlName="email" [errorStateMatcher]="matcher">
				<mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
					Please enter a valid email address
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput type="password" placeholder="Lozinka" formControlName="password">
			</mat-form-field>

			<button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Prijava</button>
			<mat-divider class="button-divider"></mat-divider>
			<button mat-raised-button color="primary" routerLink="/register" >Registracija</button>
		</div>
	</form>
</div>
