<div class="admin-body">
	<button mat-raised-button color="primary" routerLink="/admin/lines">Podesi linije</button>
	<button mat-raised-button color="primary" routerLink="/admin/stations">Podesi stanice</button>
	<button mat-raised-button color="primary" routerLink="/admin/linestation">Podesi linije-stanice</button>
	<button mat-raised-button color="primary" routerLink="/admin/timetables">Podesi red voznje</button>
	<button mat-raised-button color="primary" routerLink="/admin/pricelists">Podesi cenovnik</button>
	<button mat-raised-button color="primary" routerLink="/admin/buses">Upravljanje autobusima</button>
</div>
