<div class="admin-body">
	<button mat-raised-button color="primary" routerLink="/admin/lines">Manage lines</button>
	<button mat-raised-button color="primary" routerLink="/admin/stations">Manage stations</button>
	<button mat-raised-button color="primary" routerLink="/admin/timetables">Manage timetable</button>
	<button mat-raised-button color="primary" routerLink="/admin/pricelists">Manage ticket prices</button>
	<button mat-raised-button color="primary" routerLink="/admin/buses">Manage buses</button>
</div>
