<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
	<h4>Registracija</h4>
	<div>
		<label for="fn">Ime:</label>
		<input id="fn" type="text" formControlName="firstName" placeholder="Ime">
	</div>
	<div>
		<label for="ln">Ime:</label>
		<input id="ln" type="text" formControlName="lastName" placeholder="Prezime">
	</div>
	<div>
		<label for="email">Ime:</label>
		<input id="email" type="email" formControlName="email" placeholder="E-mail">
	</div>
	<div>
		<label for="p">Ime:</label>
		<input id="p" type="password" formControlName="password" placeholder="Lozinka">
	</div>
	<div>
		<label for="cp">Ime:</label>
		<input id="cp" type="password" formControlName="confirmPassword" placeholder="Potvrda Lozinke">
	</div>
	<div>
		<label for="dob">Ime:</label>
		<input id="dob" type="date" formControlName="dayOfBirth" placeholder="Datum Rodjenja">
	</div>
	<div>
		<label for="a">Ime:</label>
		<input id="a" type="text" formControlName="address" placeholder="Adresa">
	</div>
	<div>
		<label for="passagerType">Tip naloga</label>
		<select id="passagerType" formControlName="passagerType" required>
			<option *ngFor="let pt of passagerTypes" [value]="pt">{{pt}}</option>
		</select>
	</div>
	<div>
		<label for="aditionalInfo">Dodatne Informacije</label>
		<input type="file" id="aditionalInfo" formControlName="aditionalInfo">
	</div>
	<button type="submit" [disabled]="registrationForm.invalid">Registruj se</button>
</form>
