.side-nav
{
    width: 250px;
}

.nav-list-item
{
    display: inline-block!important;
    color: #fff;
}

.mat-nav-list
{
    padding: 0!important;
}

.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay{
    background-color: #000!important;
}

.content-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
	min-height: 700px;
}

.mat-toolbar
{
	justify-content: space-between;
}

a[hidden] { display: none!important; }
