<div class="text-container">
	<h1 class="mat-headline">Registracija</h1>
	<mat-divider></mat-divider>
	<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
		<div class="mat-body register-body">
			<mat-form-field [ngClass]="{'has-error' : formErrors.firstName}">
				<input matInput placeholder="Ime" formControlName="firstName" (blur)="logValidationErrors()">
				<mat-error *ngIf="formErrors.firstName">
					{{formErrors.firstName}}
				</mat-error>
			</mat-form-field>

			<mat-form-field [ngClass]="{'has-error' : formErrors.lastName}">
				<input matInput placeholder="Prezime" formControlName="lastName" (blur)="logValidationErrors()">
				<mat-error *ngIf="formErrors.lastName">
					{{formErrors.lastName}}
				</mat-error>
			</mat-form-field>

			<mat-form-field [ngClass]="{'has-error' : formErrors.email}">
				<input type="email" matInput placeholder="E-mail" formControlName="email" [errorStateMatcher]="matcherEmail" (blur)="logValidationErrors()"/>
				<mat-error *ngIf="formErrors.email">
					{{formErrors.email}}
				</mat-error>
			</mat-form-field>
			<div formGroupName="passwordGroup" class="mat-body register-body">
				<mat-form-field [ngClass]="{'has-error' : formErrors.password}">
					<input matInput type="password" placeholder="Lozinka" formControlName="password" [type] = "hideP ? 'password' : 'text'" (blur)="logValidationErrors()"/>
					<mat-icon matSuffix (click)="hideP = !hideP">{{hideP ? 'visibility' : 'visibility_off'}}</mat-icon>
					<mat-error *ngIf="formErrors.password">
						{{formErrors.password}}
					</mat-error>
				</mat-form-field>

				<mat-form-field [ngClass]="{'has-error' : formErrors.confirmPassword || formErrors.passwordGroup}">
					<input matInput type="password" placeholder="Potvrdi lozinku" formControlName="confirmPassword" [type] = "hideCP ? 'password' : 'text'" (blur)="logValidationErrors()"/>
					<mat-icon matSuffix (click)="hideCP = !hideCP">{{hideCP ? 'visibility' : 'visibility_off'}}</mat-icon>
					<mat-error *ngIf="formErrors.confirmPassword || formErrors.passwordGroup">
						{{formErrors.confirmPassword ? formErrors.confirmPassword : formErrors.passwordGroup}}
					</mat-error>
				</mat-form-field>
			</div>
			<mat-form-field [ngClass]="{'has-error' : formErrors.dayOfBirth}">
				<input matInput formControlName="dayOfBirth" [matDatepicker]="picker" placeholder="Datum rodjenja" (blur)="logValidationErrors()">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error *ngIf="formErrors.dayOfBirth">
					{{formErrors.dayOfBirth}}
				</mat-error>
			</mat-form-field>

			<mat-form-field [ngClass]="{'has-error' : formErrors.address}">
				<input matInput placeholder="Adresa" formControlName="address" (blur)="logValidationErrors()">
				<mat-error *ngIf="formErrors.address">
					{{formErrors.address}}
				</mat-error>
			</mat-form-field>

			<mat-form-field [ngClass]="{'has-error' : formErrors.passengerType}">
				<mat-label>Tip naloga</mat-label>
				<mat-select formControlName="passengerType" (blur)="logValidationErrors()">
					<mat-option *ngFor="let pt of passengerTypes; let i = index" [value]="i">
						{{pt}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="formErrors.passengerType">
					{{formErrors.passengerType}}
				</mat-error>
			</mat-form-field>

			<!-- need to add  additional info browser-->

			<button mat-raised-button color="primary" [disabled]="false" >Registruj se</button>
		</div>
	</form>
</div>
