.text-container {
	padding-left: 40px;
	padding-right: 40px;
}

.register-body {
	margin-top: 16px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.register-body > * {
	width: 100%;
}

.button-divider {
	margin-top: 20px;
	margin-bottom: 20px;
}

mat-form-field[hidden] { display: none!important; }

